{% load static %}

	<!-- Start related-product Area -->
	{% if categories %}
	<section class="related-product-area section_gap">
	{% else %}
	<section class="related-product-area section_gap_bottom">
	{% endif %}
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Deals of the Week</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
					  {% for invt in bestsellers %}
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="{{ invt.product.get_absolute_url }}"><img src="{% static "img/r1.jpg" %}" alt=""></a>
								<div class="desc">
									<a href="{{ invt.product.get_absolute_url }}" class="title">{{ invt.product.name }}</a>
									<div class="price">
										<h6>${{ invt.sale_price }}</h6>
										{% if invt.discount_price %}
										<h6 class="l-through">${{ invt.discount_price }}</h6>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="#" target="_blank">
							<img class="img-fluid d-block mx-auto" src="{% static "img/category/c5.jpg" %}" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->